*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: skyblue;
    font-size: 35px;
    text-align: center;
    color: white;
}


body{
    background-color: white;
}

nav{
    font-size: 20px;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    background-color: yellow;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.icon-search{
 margin-left: 300px;
}

.icono-buscar{
    margin-right: 150px;
}

input{
  width: 400px; /* Ancho de la barra de búsqueda */
  padding: 3px;
  font-size: 15px;
}

.orange{
    color: yellow
}

.first-row{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.categories-box img{
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.categories-box p{
    text-align: center;
}